tensorflow==1.15
umap-learn
visdom
librosa>=0.8.0
matplotlib>=3.3.0
numpy>=1.14.0
scipy>=1.0.0
tqdm
sounddevice
SoundFile
Unidecode
inflect
PyQt5
multiprocess
numba
Flask==1.1.2
flask-cors==3.0.9
webrtcvad==2.0.10
pyopenssl
